.env
./node_modules
./server/node_modules
./server/.env
node_modules/


C:/Users/ptreu/OneDrive/Documents/MERN-STACK/server/.env
C:/Users/ptreu/OneDrive/Documents/MERN-STACK/.env
C:/Users/ptreu/OneDrive/Documents/MERN-STACK/client/node_modules